# Data Extraction & Manipulation
pandas
numpy

# Visualization
matplotlib
seaborn
plotly

# Statistical Analysis
scipy
statsmodels

# Notebook environment
ipykernel

# For Deep Learning
scikit-learn

streamlit
python-dotenv
openpyxl
nbformat
networkx
prophet