# Data Extraction & Manipulation
pandas
numpy

# Visualization
matplotlib
seaborn
plotly

# Statistical Analysis
scipy
statsmodels

# Notebook environment
ipykernel

streamlit
python-dotenv
openpyxl
nbformat